{%- layout none -%}
{%- assign direct_checkout_url = cart.checkout_url | default: routes.checkout_url -%}
<script>
  window.location.replace('{{ direct_checkout_url }}');
</script>
<noscript>
  <meta http-equiv="refresh" content="0; url={{ direct_checkout_url }}">
  <p>If you are not redirected automatically, <a href="{{ direct_checkout_url }}">continue to checkout</a>.</p>
</noscript>
