{%- layout none -%}
<script>
  window.location.href = '{{ routes.checkout_url }}';
</script>
<noscript>
  <meta http-equiv="refresh" content="0; url={{ routes.checkout_url }}">
  <p>If you are not redirected automatically, <a href="{{ routes.checkout_url }}">continue to checkout</a>.</p>
</noscript>
